.button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 42%, 85%);
    outline: none;
    border: none;
    cursor: pointer;
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;

    transform: scale(0.9);
    background: none;
    transition: all 0.25s;
    pointer-events: none;
    opacity: 0;
}
.button:hover > .background {
    opacity: 1;

    transform: scale(1);
    background-color: hsl(210, 84%, 62%);
}
.button > svg {
    z-index: 1;
}
